@{
    ViewData["Title"] = "Milionerzy - test logiki";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div id="myContent">
        <div id="questionWindow"></div>
        <div id="buttons">
            <button id="btnA">A</button>
            <button id="btnB">B</button>
            <button id="btnC">C</button>
            <button id="btnD">D</button>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>