################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC_3September/.vs/MVC_3September/v17/.futdcache.v2
node_modules
