<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/resetPassword.css"/>
  </head>
  <body>
    <div id="contentAccessPanelDiv">
        <label id="lblReset">Zresetuj hasło</label>
        <div id="informationDiv"></div>
        <label id="lblLogin">Login/e-mail</label>
        <input type="text" id="inputText">
        <button id="btnOk">Wyślij</button>
    </div>
    <script src="/js/resetPassword.js"></script>
  </body>
</html>