<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="content">
        <div id="left">
            <label id="lblWordPl">Słowo po polsku:</label>
            <input type="text" id="inputPl">
            <label id="lblWordEng">Słowo po angielsku:</label>
            <input type="text" id="inputEng">
            <div id="buttonsNav">
                <button id="btnNewWord">Dodaj</button>
                <button id="btnEditWord">Edytuj</button>
                <button id="btnRemoveWord">Usuń</button>
            </div>
            <label id="lblSummary">Poznane słowa:</label>
        </div>
        <div id="right">
            <label id="lblDictionary">Słownik:</label>
            <div id="AllWordsDiv"></div>
            <button id="btnDisplayWords">Wyświetl</button>
        </div>
    </div>
</body>

</html>