<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>

<body>
    <div id="content">
        <div id="left">
            <label id="lblWordPl">Słowo po polsku:</label>
            <input type="text" id="inputPl">
            <label id="lblWordEng">Słowo po angielsku:</label>
            <input type="text" id="inputEng">
            <div id="buttonsNav">
                <button id="btnNewWord">Dodaj</button>
                <button id="btnEditWord">Edytuj</button>
                <button id="btnRemoveWord">Usuń</button>
            </div>
            <label id="lblSummary"></label>
        </div>
        <div id="right">
            <label id="lblDictionary">Słownik:</label>
            <button id="btnDisplayWords">Wyświetl</button>
            <div id="AllWordsDiv">
                <!-- Tutaj będą dodawane dynamicznie divy z danymi -->
            </div>
            <table id="myDataTable" class="display">
                <thead>
                    <tr>
                        <th>Polish Word</th>
                        <th>English Word</th>
                        <!-- Dodaj inne kolumny, jeśli są potrzebne -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Tutaj będą dodawane dynamicznie wiersze z danymi -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        // Poniżej umieść swój skrypt JavaScript, np. inicjalizację DataTables
    </script>
</body>

</html>
