@{
    ViewData["Title"] = "Home Page";
}

@model List<HangmanGameMVC.Database.HangmanDatabase>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containerDiv">
        <div id="scoreDiv">
            <label id="score"></label>
            <label id="hint">Wskazówka</label>
        </div>
        <div id="keyboardDiv"></div>
        <div id="userInputDiv"><input type="text" id="userInput"></div>
    </div>
    <script>
        var jsonData = @(Json.Serialize(Model));
        console.log(jsonData);
    </script>
</body>
</html>