@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/site.css" />
</head>
<body>
    <div id="resultDiv"></div>
    <button id="btnA">A</button>
    <button id="btnB">B</button>
<script src="../../css/site.js"></script>
</body>
</html>