@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="content">
        <div id="userData">
            <label id="lblFirstName">First Name:</label><input type="text" id="inputFirstName"/>
            <label id="lblLastName">Last Name:</label><input type="text" id="inputLastName" />
            <label id="lblYearOfBirth">Year of Birth Name:</label><input type="text" id="inputYearOfBirth" />
            <div class="buttons">
                <button id="btnAddUser">Add User</button>
            </div>
        </div>
        <div id="userList">
            <div id="newList"></div>
            <div class="buttons">
                <button id="btnGetUsers">Get Users</button>
            </div>
                
        </div>
    </div>
</body>
</html>