.side{
    margin: 5px;
}
.brownWindow{
    font-size: 20px;
    margin: 10px 0px;
    padding-top: 10px;
    border: solid black 5px;
    background: rgba(134, 82, 82, 0.706);
    color: white;
    text-align: center;
    border-radius: 5%;
}
.darkWindow{
    font-size: 16px;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    background: rgba(66, 38, 38, 0.706);
    text-align: left;
    padding-bottom: 10px;
    border-radius: 5%;
}
.wheatWindow{
    text-align: left;
    color: black;
    padding: 1px;
    background-color: wheat;
    border-radius: 5%;
}
.blueWindow{
    text-align: left;
    color: black;
    padding: 1px;
    background-color: blue;
    border-radius: 5%;
}
.inputStyle{
    background-color: wheat;
    margin-left: 10px;
    font-size: 1.3rem;
}
.btn{
    width: 115px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    background-color: rgb(108, 108, 108);
    color: white;
}
.widerBtn{
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
    height: 50px;
    background-color: rgb(108, 108, 108);
    color: white;
}
.allFrame{
    margin-top: 10px;
    margin-left: 20px;
    width: 90%;
    border: solid black 1px;
}
.frameLight{
background-color: rgb(149, 136, 111);
padding: 2px;
}
.frameDark{
    background-color: rgb(93, 85, 69);
    padding: 2px;
}
.download{
    color:blue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.download:hover{
    color: orangered;
}
.title{
    background-color: grey;
    color: white;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 5%;
}
.frameColor{
    background-color: rgb(201, 201, 107);
    width: 90%;
    height: 10%;
    margin-left: 5%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}