@{
    ViewData["Title"] = "Home Page";
}

@model List<DatabaseRelation.Database.Entities.User>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <!-- Dodaj inne kolumny według potrzeb -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <!-- Dodaj inne komórki według potrzeb -->
            </tr>
        }
    </tbody>
</table>

