<!-- registration.component.html -->

<div id="contentAccessPanelDiv">
  <div id="accessPanelAuthDiv">
    <div id="loginDiv">
      <label id="lblLogin" (click)="goToLoginPage()">Zaloguj</label>
    </div>
    <div id="registrationDiv">
      <label id="lblRegistration">Zarejestruj</label>
    </div>
  </div>

  <div id="labelLoginDiv">login/e-mail</div>

  <div id="login">
    <div id="inputLoginDiv"><input id="inputLogin" [(ngModel)]="inputLoginValue" /></div>
    <div id="wrongPasswordDiv">X</div>
  </div>

  <div id="labelPasswordDiv">hasło</div>

  <div id="password">
    <div id="inputPasswordDiv">
      <input id="inputPassword" type="password" [(ngModel)]="inputPasswordValue" />
    </div>
    <div id="wrongPasswordDiv">X</div>
  </div>

  <div id="progressBarDiv">
    <progress value="0.5" id="progressBar"></progress>
  </div>
  <div id="labelRepeatPasswordDiv">powtórz hasło</div>
  <div id="repeatPassword">
    <div id="inputRepeatPasswordDiv">
      <input id="inputRepeatPassword" type="password" [(ngModel)]="inputRepeatPasswordValue" />
    </div>
  </div>
  <div id="btnDiv"><button id="btnOk" (click)="registrationUser()">OK</button></div>
</div>