@page
@model MVCPart2.Views.Home.mainModel

@{
    string result = "Hej Sokoly";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who Wants to Be a Millionaire? - Main Page</title>
    <link rel="stylesheet" href="../../wwwroot/css/site.css" />
</head>
<body>
    <div id="container">
        <div id="left">
            <div id="questionWindow"></div>
            <div id="buttons">
                <div id="btnsLeft">
                    <div><button id="btnA">A</button></div>
                    <div><button id="btnB">B</button></div>
                    <div><button id="btnHelp">HELP</button></div>
                </div>
                <div id="btnsRight">
                    <div><button id="btnC">C</button></div>
                    <div><button id="btnD">D</button></div>
                    <div><button id="btnResign">RESIGN</button></div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="lifelines">
                <div id="phoneAFriend">
                    <button id="btnPhone">Phone</button>
                </div>
                <div id="askTheAudience">
                    <button id="btnAudience">Audience</button>
                </div>
                <div id="fiftyFifty">
                    <button id="btnFiftyFifty">50/50</button>
                </div>
            </div>
            <div id="prizeTable">@result</div>
        </div>
    </div>
    <script src="../../wwwroot/js/site.js"></script>
</body>
</html>

