body{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#left{
    display: flex;
    width: 100%;
    height: 100%;
}
#right{
    display: flex;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 100%;
}
#otherFile{
    padding: 20px;
    width: 400px;
    height: 20px;
    color: white;
    background-color: black;
    border-radius: 50px;
}
#frame{
    margin-left: 20px;
    width: 700px;
    height: 500px;
    color: white;
    background-color: black;
}