* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../IMAGES/Background.jpeg);
    background-size: cover;
    color: grey;
}

#contentAccessPanelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
    border: 2px solid grey;
}
#accessPanelAuthDiv{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
#loginDiv{
    width: 25%;
    margin-left: 25%;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
#lblLogin{
    margin-left: 45%;
}

#registrationDiv{
    width: 25%;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}
#lblRegistration{
    margin-left: 15%;
}

#labelLoginDiv{
    margin-top: 3%;
    width: 280px;
}
#labelPasswordDiv{
    margin-top: 2%;
    width: 280px;
}
#btnResetPassword{
    background-color: white;
    border: none;
    color: grey;
    width: 280px;
    text-align: right;
}
#btnOk{
    margin-top: 40%;
    color: white;
    background-color: rgb(66, 63, 63);
    width: 100px;
    height: 30px;
}
#inputLogin{
    width: 280px;
}
#inputPassword{
    width: 280px;
}