* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../IMAGES/Background.jpeg);
    background-size: cover;
    color: grey;
  }
  
  #contentAccessPanelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 300px;
    border: 2px solid grey;
  }
  #lblReset{
    font-size: 24px;
    margin-top: 2%;
  }
  #lblLogin{
    margin-top: 2%;
    margin-left: -28%;
    margin-bottom: 1%;
  }
  #inputText{
    width: 280px;
    height: 30px;
  }
  #btnOk{
    width: 100px;
    height: 30px;
    margin-top: 7%;
    color: white;
    background-color: rgb(66, 63, 63);
  }
  #informationDiv{
    margin-top: 10%;
  }