* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#left {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
#lblWordPl,
#lblWordEng,
#lblDictionary,
#lblSummary {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#inputPl, #inputEng{
  width: 400px;
  height: 40px;
}
#buttonsNav, #btnDisplayWords{
  display: flex;
  margin-top: 2%;
}
button {
  margin-left: 2%;
  width: 100px;
  height: 40px;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
}
#right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#AllWordsDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  width: 400px;
  height: 90%;
  max-height: 400px;
  border: 2px solid grey;
}
#AllWordsDiv {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
    width: 80%;
    height: 400px;
    max-height: 400px;
}
#lblSummary{
  color: black;
  position: absolute;
  bottom: 10px;
  left: 10%;
}